aiohttp==3.6.2
astroid==2.4.2
async-timeout==3.0.1
attrs==20.1.0
chardet==3.0.4
colorama==0.4.3
discord==1.7.3
discord.py==1.7.3
idna==2.10
isort==5.4.2
lazy-object-proxy==1.4.3
numpy==1.21.6
matplotlib==3.5.3
multidict==4.7.6
Pillow==7.2.0
pylint==2.6.0
PyYAML==5.3.1
six==1.15.0
toml==0.10.1
wrapt==1.12.1
yarl==1.5.1
trueskill==0.4.5
scipy==1.7.3
